@media (min-width: 960px) and (max-width: 1170px) {
    .navbar-default .nav li a {
        padding: 15px;
    }
    header .header-dashboard .dashboard {
        max-width: 100%;
    }
    header .header-dashboard {
        background: none;
        max-width: 50%;
    }
    header .intro-text {
        padding-top: 120px;
    }
    #conteudo-tab1 img {
        max-width: 500px;
        margin-top: 100px;
    }
    footer .container {
        width: 100%;
        padding: 0 30px;
    }
    #subscribe .subscribe-form {
        float: none;
        width: 570px;
        margin: auto;
    }
    .contact-map-container {
        display: none;
    }
    #conteudo-tab2 img {
        margin-right: 0;
        max-width: 350px;
    }
    #contact .form-group {
        width: 100%;
    }
    #contact .contact-form-container {
        float: right;
        width: 100%;
    }
    #subscribe h3 {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .team-content h5 {
        font-size: 18px;
    }
    .team-member img {
        max-width: 100%;
    }
    .team-member {
        margin: 0;
        width: 100%;
    }
    .team-wrapper {
        margin: 0;
        width: 33.33333%;
        float: left;
    }
    #conteudo-tab3 img {
        margin-top: 0;
        margin-right: -30px;
        max-width: 300px;
    }
    .pricing {
        margin-bottom: 30px;
    }
    .conteudo-tabs .tab {
        width: 33.33%;
        padding: 0;
        float: left;
    }
    .conteudo-tabs .tabs {
        width: 100%;
    }
    #services .col-md-3.last {
        padding-left: 0;
    }
}
@media (max-width: 960px) {
    header .banner>.quebra-lateral {
        display: none !important;
    }
    .logo img {
        top: 9px;
        display: none;
    }
    .logo-mobile {
        display: block;
    }
    #services .infos-event div img {} header .header-dashboard .dashboard {
        max-width: 50%;
        margin: 50px;
        margin-bottom: 0;
    }
    .navbar-default .nav li a:after {
        display: none !important;
    }
    .navbar-default .nav li a:before {
        display: none !important;
    }
    header .banner {
        height: 400px;
    }
    header .banner>.buttons-social {
        margin-top: 30px;
    }
    header .banner>.logo-pr17 {
        margin-top: 10px;
    }
    #particles-js {
        opacity: 0;
        visibility: hidden;
    }
    header .header-dashboard {
        background: none;
        width: 100%;
        text-align: center;
    }
    html {
        width: 100%;
        overflow-x: hidden;
    }
    .navbar-fixed-top {
        padding: 8px 20px;
    }
    .navbar-fixed-top .page-scroll {
        margin: 0;
    }
    .logo img {
        height: 34px;
        margin-top: 8px;
    }
    header .intro-text .intro-lead-in {
        font-size: 32px;
        letter-spacing: -1px;
        line-height: 35px;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    header .intro-text {
        padding: 65px 20px 0 20px;
        width: 100%;
    }
    .header-buttons {
        margin: 20px auto 20px auto;
        width: 100%;
        float: left;
        text-align: center;
    }
    header .intro-text .intro-heading {
        font-size: 15px;
        line-height: 21px;
        margin-top: 0;
        width: 100%;
        max-width: 100%;
        display: block;
        float: left;
        text-align: center;
    }
    #the-event .infos-event {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
    }
    #the-event .infos-event .fourdays {
      max-width: 263px;
    }

    #the-event .infos-event .parana {
        max-width: 263px;
    }
    #apoio .content-realizacao .contato {
        border-top: 3px solid #EF5A2B;
        margin-top: 16px;
    }
    #the-event .infos-event .event-november {
        padding-right: 10px;
    }
    .bg-pacotes {} .titulo-pacotes span {
        display: none;
    }
    .buttons-pacotes {
        justify-content: center;
        margin-top: 0px;
    }
    #local .colegio {
        width: 99%;
    }
    #local .img-colegio {
        margin-left: 3px;
        margin-top: 40px;
    }
    #apoio .content-realizacao {
        height: 275px;
    }
    #apoio .realizacao {
        margin-right: 10px;
        margin-left: 10px;
    }
    #apoio .realizacao h2 {
        font-size: 16px;
        margin-left: 15px;
        margin-right: 5px;
    }
    #apoio .divisoria {
        display: none;
    }
    .header-buttons .secondary-button,
    .header-buttons .primary-button {
        float: none;
    }
    section h2.section-heading {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 28px;
        letter-spacing: 20px;
        line-height: 28px;
    }
    section {
        padding: 70px 0 50px 0;
    }
    section .section-subheading {
        margin-bottom: 55px;
        margin-top: 15px;
        font-size: 15px;
        line-height: 21px;
    }
    p {
        color: #666;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    #services .nc-icon-outline {
        margin-bottom: 16px;
        font-size: 40px;
        margin-top: 0;
    }
    .service-heading {
        font-size: 18px;
        margin-bottom: 18px;
    }
    #services .col-md-3.last,
    #services .col-md-3 {
        padding: 0 30px;
        margin-bottom: 30px;
    }
    .video-container a {
        width: 80%;
    }
    .video-container a img {
        width: 100%;
        max-width: 630px;
    }
    .play-video {
        margin-top: -40px;
    }
    .conteudo-tabs .tabs {
        width: 90%;
        height: auto;
        margin: 0 auto 20px auto;
    }
    .conteudo-tabs .tab {
        display: block;
        width: 100%;
    }
    #conteudo .section-subheading {
        margin: auto;
        margin-bottom: 50px;
        margin-top: 10px;
        float: none;
        line-height: 21px;
        text-align: center;
    }
    section h2.section-heading {
        text-align: center;
    }
    #conteudo-tabs {
        text-align: center;
    }
    .lower-footer .pull-left {
        width: 100%;
    }
    .footer-nav,
    .lower-footer .pull-right {
        display: none;
    }
    .lower-footer span,
    .lower-footer a {
        width: 100%;
        display: block;
    }
    .upper-footer .logo img {
        margin: auto;
    }
    .upper-footer .pull-left {
        width: 100%;
        margin-bottom: 40px;
    }
    .upper-footer .pull-left p {
        text-align: center;
        width: 80%;
        margin: 30px auto 0;
    }
    .upper-footer .pull-right {
        width: 100%;
    }
    .footer-secondary-nav {
        max-width: 100%;
        display: block;
        padding: 0;
        width: 100%;
    }
    .lower-footer {
        margin-top: 30px;
    }
    .footer-secondary-nav a {
        margin: auto;
        display: block;
        float: none;
    }
    .footer-secondary-nav li {
        margin-bottom: 20px;
    }
    @media (min-width: 780px) and (max-width: 960px) {
        .team-member {
            margin: 0;
            width: 100%;
        }
        .team-wrapper {
            margin: 0;
            width: 33.33333%;
            float: left;
        }
    }
    @media (max-width: 390px) {
        .precofed .tipo {
            font-size: 16px;
        }
        .precofed .price {
            font-size: 16px;
        }
    }